
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.651);
} 
li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
text-decoration:none;

}
li {
  float: right;
}

#side-bar {
  margin-left: 5%;
  list-style-type: none;
  width: 10%;
  float: none;
  height: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  background-color: azure;
}
aside{
  width: 20%;
  margin-top: 10%;
  background-color: rgb(235, 232, 232);
}

#dashboard{
  margin-left: 30%;
  margin-top: -90%;
  width: 60%;
}
.card-dashboard{
  width: 40%;
  float: left;
  background-color: beige;
}
div {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

